################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/straight_line_encoders/straight_line_encoders/.vs
/straight_line_encoders/straight_line_encoders/CppProperties.json
/straight_line_encoders/straight_line_encoders/src/PID/.vs
/straight_line_encoders/straight_line_encoders/Main/.vs
/straight_line_encoders/straight_line_encoders/Main/src/PID/.vs
/straight_line_encoders/straight_line_encoders/Main/straight_line_encoders/src/PID/.vs
/combined_linefollow_encoders/.vs
/combined_linefollow_encoders/combined_code/.vs
/combined_linefollow_encoders/combined_code/CppProperties.json
