################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/straight_line_encoders/straight_line_encoders/.vs
/straight_line_encoders/straight_line_encoders/CppProperties.json
/straight_line_encoders/straight_line_encoders/src/PID/.vs/VSWorkspaceState.json
/straight_line_encoders/straight_line_encoders/src/PID/.vs/slnx.sqlite
/straight_line_encoders/straight_line_encoders/src/PID/.vs/ProjectSettings.json
/straight_line_encoders/straight_line_encoders/src/PID/.vs/PID/v16/.suo
/straight_line_encoders/straight_line_encoders/src/PID/.vs/PID/v16/Browse.VC.db
